/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}


.recommended-card {
  width: 200px !important;
  height: 330px !important;
  display: flex !important;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
}

.recommended-card img {
  width: 170px;
  height: 170px;
  object-fit: contain;
}

.slick-dots {
  position: relative !important;
}



.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  font-size: 28px;
  padding: 3px 10px;
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.2s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  text-decoration: none;
}


h2, h3 {
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.text-darkred {
  color: darkred;
}

.bg-darkred {
  background-color: darkred;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}